@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-blend {
    mix-blend-mode: difference;
    color: white;
}

.blend-normal {
    mix-blend-mode: normal !important;
}

main {
    padding-top: 80px;
}

.navbar {
    background-color: black;
}